<!DOCTYPE html>
<head>
  <title>Restaurant Scraper</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('search') }}">Search</a>
    <a href="{{ url_for('listing') }}">Food Listing</a>
    <a href="#about">Contact</a>
    <a href="#about">About</a>
    <div class="dropdown">
      <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="#">TBD 1</a>
        <a href="#">TBD 2</a>
        <a href="#">TBD 3</a>
        <a href="#">TBD 4</a>
        <a href="#">TBD 5</a>
      </div>
    </div>
  </div>
  <div id="bg"></div>
  <div id="welcomeMessage">
    <p1>Welcome!</p1>
  </div>
</body>