<!DOCTYPE html>
<head>
  <title>Restaurant Scraper</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('nearbySearch') }}">Search</a>
    <a href="{{ url_for('placeSearch') }}">Food Listing</a>
    <a href="{{ url_for('viewListings') }}">View Listing</a>
    <div class="dropdown">
      <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="#">TBD 1</a>
        <a href="#">TBD 2</a>
        <a href="#">TBD 3</a>
        <a href="#">TBD 4</a>
        <a href="#">TBD 5</a>
      </div>
    </div>
  </div>
  <div id="welcomeMessage">
    <p1>{{ res }}</p1>
  </div>
  <footer>
    <p>Image by <a href="https://www.freepik.com/free-photo/top-view-dining-tables-without-food_38054574.htm#query=4k%20plate%20and%20utensil&position=13&from_view=search&track=ais">Freepik</a></p>
  </footer>
</body>