<!DOCTYPE html>
<head>
  <title>Restaurant Scraper</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('search') }}">Search</a>
    <a href="{{ url_for('listing') }}">Food Listing</a>
    <a href="#about">Contact</a>
    <a href="#about">About</a>
    <div class="dropdown">
      <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="#">TBD 1</a>
        <a href="#">TBD 2</a>
        <a href="#">TBD 3</a>
        <a href="#">TBD 4</a>
        <a href="#">TBD 5</a>
      </div>
    </div>
  </div>
  <div id="listingBox">
    <h1 id="listingBoxHeader">List Your Food!</h1>
    <form id="listingForm">
        <label for="restaurant">Restaurant Name: </label>
        <input type="text" name="restaurant", id="restaurant"><br><br>
        <label for="notes">Notes: </label>
        <input type="text" name="notes", id="notes"><br><br>
        <label for="price">Price: </label>
        <input type="number" name="price", id="price"><br>
    </form>
    <br>
    <button onClick="getLocation()" id="listingButton">List</button>
  </div>
</body>